body {
    margin: 0;
}

header {
    height: 150px;
    background: linear-gradient(to right, #1F1F1F, #000000);
    margin-bottom: 0;
}

header h1 {
    margin: 0;
    color: white;
    padding: 40px 780px;
    font-size: 60px;
}

.navigation-block {
    height: 70px;
    background: linear-gradient(to right, #ABABAB, #5E5E5E);
    margin-bottom: 35px;
}

.navigation-block h1 {
    margin: 0;
    color: #FBF9F9;
    padding: 3px 300px;
    font-size: 55px;
}

.main-content {
    display: inline-block;
    background-color: #DED9D9;
    width: 800px;
    height: 500px;
    margin-left: 300px;
    margin-right: 50px;
}

.main-content h1 {
    text-align: center;
    padding-top: 100px;
}

.sidebar {
    display: inline-block;
    background-color: #6B6B6B;
    width: 300px;
    height: 500px;
    float: right;
    margin-right: 445px;
}

.sidebar h1 {
    text-align: center;
    padding-top: 100px;
}

.footer {
    background: linear-gradient(to right, #424242 ,#1F1E1E);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
}

.footer h1 {
    margin: 0;
    color: white;
    padding: 40px 780px;
    font-size: 60px;
}